/* Custom scrollbar styles */
.customScrollbar::-webkit-scrollbar {
  width: 6px;
}

.customScrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
  background: #666;
}
